# Node modules (no necesarios dentro del contenedor, se instalarán durante el build)
node_modules
npm-debug.log

# Archivos de configuración específicos del entorno
.env

# Archivos de build generados
dist
*.log

# Directorios de test o coverage que no necesitas en producción
test
coverage

# Archivos de configuración de IDE
.vscode
.idea

# Archivos temporales
.DS_Store
*.swp
*.swo

# Carpeta de dependencias locales
/.pnpm
/.yarn
